#btn1 green block{
    background-color: lightgray;
}
#cssintroduction {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#csssyntax {
  width: 100%;
  padding: auto;
  background-color:  lightpink;
;
  display: none;
    font-weight: bold;
}
#cssusage {
  width: 100%;
  padding: auto;
  background-color:   lightpink;
;
  display: none;
    font-weight: bold;
}
#csscolors {
  width: 100%;
  padding: auto;
  background-color:  lightpink;;
  display: none;
    font-weight: bold;
}
#cssbackgrounds {
  width: 100%;
  padding: auto;
  background-color:  lightpink;
  display: none;
    font-weight: bold;
}
#cssborders {
  width: 100%;
  padding: auto;
  background-color:  lightpink;
  display: none;
    font-weight: bold;
}
#cssmargins {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssheightandwidth {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssboxmodel {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssoutline {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#csstext {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssfonts {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssicons {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#csslinks {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#cssalign {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
#csspadding {
  width: 100%;
  padding: auto;
  background-color: lightpink;
  display: none;
    font-weight: bold;
}
.btn1{
 padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    font-weight: bold;
}
.btn1:hover, .btn1:focus {
    opacity: 0.8;
}
.btn1:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn1.block {
    display: block !important;
}
.green {
    background-color: lightpink;
        ;
}