#HTMLintroduction {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLsyntax {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLheadings {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLparagraphs {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLstyles {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLtextFormatting {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLcomments {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLcolors {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLlinks {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLimages {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLtables {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLlists {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLid {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLresponsive {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}
#HTMLquotations {
  width: 100%;
  padding: auto;
  background-color: gray;
  display: none;
}

.btn2{
 padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn2:hover, .btn2:focus {
    opacity: 0.8;
}
.btn2:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn2.block {
    display: block !important;
}
.orange {
    background-color: orange;
}
