 head, [contenteditable] {
      display: block;
    }

    style.default {
      display: none;
    }

    style {
      white-space: pre-wrap;       
      padding: 10px 20px;
      z-index: 500px;
      border: solid;
    }

.container {
      height: 100%;
      width: 50%;
}

iframe {
  height: 100%;
  width: 100%;
}