*, *:before, *:after {
     box-sizing: border-box;
}
 html {
     scroll-behavior: smooth;
}
 html, body {
     height: 100%;
}
 h1 {
     border: 1px solid black;
     padding: 10px;
     width: 100%;
     font-family: Georgia;
     font-weight: normal;
     background-color: #FAFAFF;
}
 h2{
     margin-left: 50px;
     margin-right: 50px;
     font-family: Verdana;
     font-weight: normal;
     text-align: justify;
     text-align-last: center;
}
 h3 {
     padding-top: 50px;
     border-bottom: 1px solid black;
     font-family: Georgia;
     padding-bottom: 50px;
     margin-left: 50px;
     margin-right: 50px;
}
 body {
     padding: 0;
     margin: 0;
     background-color: #ffffff;
     text-align: center;
}
 .carousel {
     height: 100%;
     position: relative;
     overflow: hidden;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     margin: auto;
}
 .content{
     height: 100%;
     padding: 2rem;
     text-align: center;
     display: flex;
     flex: 1;
     align-items: center;
     justify-content: center;
     padding-top: 70px;
     color: #FB3640;
}
 .content p {
     margin: auto;
     color: white;
}
 .resume{
     border: 1px solid black;
     color: white;
     padding: 10px;
     margin: auto;
     font-size: 16px;
}
 .resume:hover {
     border: 1px solid black;
     padding: 15px;
     color: #2196F3;
}
 .initiator {
     width: 12px;
     height: 12px;
     margin: 2rem 12px;
     border-radius: 50%;
     z-index: 10;
     outline: 6px solid #ccc;
     outline-offset: -6px;
     box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
     cursor: pointer;
}
 .controls, .content, .initiator {
     display: none;
}
 .initiator:nth-of-type(4):checked ~ .carousel_track {
     transform: translateX(-300%);
}
 .initiator:nth-of-type(4):checked ~ .content:nth-of-type(4) {
     animation: carousel-show-slide 0.5s;
     display: block;
}
 .initiator:nth-of-type(4):checked ~ .controls:nth-of-type(4) {
     display: block;
}
 .initiator:nth-of-type(4):checked ~ .indicators .indicator:nth-of-type(4) {
     opacity: 1;
}
 .initiator:nth-of-type(3):checked ~ .carousel_track {
     transform: translateX(-200%);
}
 .initiator:nth-of-type(3):checked ~ .content:nth-of-type(3) {
     animation: carousel-show-slide 0.5s;
     display: block;
}
 .initiator:nth-of-type(3):checked ~ .controls:nth-of-type(3) {
     display: block;
}
 .initiator:nth-of-type(3):checked ~ .indicators .indicator:nth-of-type(3) {
     opacity: 1;
}
 .initiator:nth-of-type(2):checked ~ .carousel_track {
     transform: translateX(-100%);
}
 .initiator:nth-of-type(2):checked ~ .content:nth-of-type(2) {
     animation: carousel-show-slide 0.5s;
     display: block;
}
 .initiator:nth-of-type(2):checked ~ .controls:nth-of-type(2) {
     display: block;
}
 .initiator:nth-of-type(2):checked ~ .indicators .indicator:nth-of-type(2) {
     opacity: 1;
}
 .initiator:nth-of-type(1):checked ~ .carousel_track {
     transform: translateX(0%);
}
 .initiator:nth-of-type(1):checked ~ .content:nth-of-type(1) {
     animation: carousel-show-slide 0.5s;
     display: block;
}
 .initiator:nth-of-type(1):checked ~ .controls:nth-of-type(1) {
     display: block;
}
 .initiator:nth-of-type(1):checked ~ .indicators .indicator:nth-of-type(1) {
     opacity: 1;
}
 .carousel_control {
     height: 30px;
     width: 30px;
     margin-top: -15px;
     top: 50%;
     position: absolute;
     display: block;
     cursor: pointer;
     border-width: 5px 5px 0 0;
     border-style: solid;
     border-color: #fafafa;
     opacity: 0.35;
     outline: 0;
     z-index: 3;
}
 .caption {
     font-size: 25px;
     font-family: verdana;
     color: #FB3640;
}
 .carousel_control:hover {
     opacity: 1;
}
 .next {
     left: 10px;
     transform: rotate(-135deg);
}
 .prev {
     right: 10px;
     transform: rotate(45deg);
}
 .indicators {
     position: absolute;
     bottom: 20px;
     width: 100%;
     text-align: center;
}
 .indicator {
     height: 15px;
     width: 15px;
     border-radius: 100%;
     display: inline-block;
     z-index: 2;
     cursor: pointer;
     opacity: 0.35;
     margin: 0 2.5px 0 2.5px;
}
 .indicator:hover {
     opacity: 0.75;
}
 .carousel_track {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     transition: transform 0.5s ease 0s;
}
 .carousel_track .content {
     display: block;
}
 .carousel_track .content:nth-of-type(1) {
     transform: translateX(0%);
     position: relative;
}
 .carousel_track .content:nth-of-type(2) {
     transform: translateX(100%);
     position: relative;
}
 .carousel_track .content:nth-of-type(3) {
     transform: translateX(200%);
}
 .carousel_track .content:nth-of-type(4) {
     transform: translateX(300%);
}
 .indicator {
     background-color: #fafafa;
}
 @keyframes carousel-show-slide {
     from {
         opacity: 0;
    }
     to {
         opacity: 1;
    }
}
 .content:nth-of-type(1) {
     background-image: url("images/carouselbackground1.jpg");
     background-size: cover;
     background-position: center;
     padding-bottom: 80px;
}
 .content:nth-of-type(2) {
     background-image: url("images/carouselbackground2.jpg");
     background-size: cover;
     background-position: center;
}
 .content:nth-of-type(3) {
     background-image: url("images/carouselbackground3.jpg");
     background-size: cover;
     background-position: center;
     padding-top: 200px;
}
 .content:nth-of-type(4) {
     background-image: url("images/carouselbackground4.jpg");
     background-size: cover;
     background-position: center;
     padding-top: 200px;
}
 .slide_image {
     font-size: 2.7rem;
     color: #2196F3;
     height: 75%;
     width: 50%;
     width: 25%;
     border-radius: 50%;
}
 .caption {
     font-weight: 500;
     margin: 2rem 0 1rem;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
     text-transform: uppercase;
}
 .header {
     box-shadow: 0px 0px 30px;
     overflow: hidden;
     position: fixed;
     width: 100%;
     z-index: 1;
     background-color: #FAFAFF;
}
 .header a {
     float: left;
     color: black;
     text-align: center;
     padding: 10px;
     text-decoration: none;
     font-size: 16px;
     line-height: 25px;
     border-radius: 4px;
     opacity: 1;
}
 .header a.logo {
     font-size: 25px;
     font-weight: bold;
     color: #2196F3;
     font-family: garamond;
}
 .header a:hover {
     color: #2196F3;
     text-decoration: underline;
}

 .header_right {
     float: right;
}
 @media screen and (max-width: 500px) {
     .header a {
         float: none;
         display: block;
         text-align: left;
    }
     .footer a {
         float: none;
         display: block;
         text-align: left;
    }
}
 .footer_right {
     float: right;
}
 .footer {
     box-shadow: 0px 0px 10px;
     overflow: hidden;
     width: 100%;
     z-index: 1;
     background-color: #FAFAFF;
}
 .footer a {
     float: left;
     color: black;
     text-align: center;
     padding: 10px;
     text-decoration: none;
     font-size: 16px;
     line-height: 25px;
     border-radius: 4px;
     opacity: 1;
}
 .footer a:hover {
     color: #2196F3;
     text-decoration: underline;
}
 .container {
     position: relative;
     width: 50%;
}
 .image {
     display: block;
     width: 100%;
     height: auto;
}
 .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color: #000000;
}
 .container:hover .overlay {
     opacity: .85;
}
 .text {
     color: #ffffff;
     font-size: 25px;
     opacity: 1;
     position: relative;
     bottom: 0;
     margin-top: 100px;
}
 .text:hover {
     opacity: 1;
}
 .grid {
     display: grid;
     grid-template-columns: auto auto auto;
     margin: 50px;
}
 .grid-item {
     text-align: center;
     width: 100% 
}
 .youtube_style {
     height:300px;
     width: 100%;
}
 img {
     height: 10%;
}
